aiofiles
aiogram
aiogram-media-group
aiohttp
aioschedule
aiosignal
async-timeout
asyncpg
attrs
certifi
charset-normalizer
colorama
frozenlist
idna
magic-filter
multidict
openai
pydantic
regex
requests
tiktoken
tqdm
typing_extensions
urllib3
yarl
YooMoney